

.quotes {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 80%;
  margin: 0 auto;
}

.quote {
  background: #ddd;
  border-radius: 5px;
  padding: 15px;
  width: calc(33.33% - 60px);
  margin: 0 15px 30px;
}

.quote p {
  font-style: italic;
}